<div class="container" mt-5>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr class="bg-primary text-light mt-5">
                    <td>firstname</td>
                    <td>lastname</td>
                    <td>age</td>
                    <td>username</td>
                    <td>passowrd</td>
                    <td>Remove User</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.passowrd}}</td>
                    <td><button class="btn btn-danger" (click)="removeUser(user.username)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
